@font-face {
  font-family: Geometric415BT-A;
  src: url("../fonts/Geometric415BT-MediumA.otf");
}
@font-face {
  font-family: MyriadPro;
  src: url("../fonts/MyriadPro.otf");
}
@font-face {
  font-family: PeaceSans;
  src: url("../fonts/PeaceSans.otf");
}
