$background: rgb(2, 16, 50);
$font: Geometric415BT-A;
$border: 1px solid #cdcdcd;
.status_active {
  color: #009a63
}
//#content_advantages,
//#we_offer,
//#create_currency,
//#block_faq{
//  transition-duration: 1s;
//}
.modal-backdrop {
  background-color: rgba(255, 255, 255, 0) !important;
}
.button_scroll_down{
  display: none;
  width: 55px;
  height: 55px;
  //border-radius: 50%;
  background-color: #0051c3;
  position: fixed;
  bottom: 130px;
  cursor: pointer;
  z-index: 1500;
  border: none;
  outline: 0!important;
  color: rgb(47, 25, 107);
  font-size: 50px;
  line-height: 0.4;
  &:hover{
    background-color: rgb(47, 25, 107);
    color:#0051c3 ;

  }
}
#login{
  .modal-dialog{
    position: absolute;
    right: 0;
    top: 20%;
    width: 100%;
  }
  .modal-body {
    background: linear-gradient(to left, #001f6f, #251f62);
  }
  .form_registration_modal {
    padding: 75px 85px;
    border-radius: 15px;
    //background: linear-gradient(to right, #251f61, #522058);
    height: 663px;
    label {
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      font-size: 18px;
    }
    input {
      height: 55px;
      margin-bottom: 35px;
      font-size: 18px;
    }
    span {
      color: #ff0b42
    }
    button {
      margin-top: 20px;
      width: 100%;
    }
  }

}

body.lp {
  font-family: $font;
  background: #e6e6e6;
  min-width: 640px;
  overflow: auto;
}

.container-fluid {
  min-width: 640px;
}

.block_computer {
  position: relative;
}

.rewardatron_hidden {
  font-size: 72px;
  font-family: "Geometric415BT";
  color: rgba(51, 102, 204, 0.149);
  text-transform: uppercase;
  position: absolute;
  bottom: 105px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.comets1, .comets2 {
  position: absolute;
  top: -65px;
  z-index: 0;
}

.comets1 {
  left: -160px;
}

.comets2 {
  right: 160px;
}

.logo_hidden {
  width: 600px;
  position: absolute !important;
  right: 0;
  top: 200px;
  opacity: 0.1 !important;
  text-overflow: clip;
  //overflow-clip: append();
  overflow-clip-box: padding-box;
  //background-image: url("../img/logo_icon.svg");
  //height: 640px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-250 {
  margin-top: 250px;
}

.mt-300 {
  margin-top: 300px;
}

.mt-150 {
  margin-top: 150px;
}

.header_lp__logo {
  color:#0066d0 !important;
  font-size: 24px;
  margin-top:23px;
  img {
    height: 70px;
    width: 70px;
  }
}

//.footer_block {
//  .header_lp__logo {
//    color: #0066d0 !important;
//  }
//}

.header_lp {
  background: linear-gradient(to left, #001f6d, #000832);;
  height: 100%;

  #header_lp__navbar {
    a {
      font-size: 18px;
      text-transform: uppercase;
      color: white !important;
      &:hover{
        color:#0066d0 !important;
      }
    }
  }
}

.header_lp__sign, .header_lp__login, .header_lp__lang {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  padding: 17px;
  border: none;
  text-transform: uppercase;
  //margin-right: 45px;
  cursor: pointer !important;
  outline: none;
  font-weight: bold;
}

.header_lp__sign, .header_lp__login {
  width: 195px;
  border-radius: 55px;
}

.header_lp__sign {
  background: #ff4d0f;
  box-shadow: 0 0 25px #ff4d0f;
  &:hover{
    background: rgb(219, 66, 12);
    box-shadow: 0 0 25px #DB420C;

    //color:#ff4d0f;
  }
}

.header_lp__login {
  background: none;
  border: 2px solid white;
  &:hover{
    background: white;
    color:#ff4d0f;
    box-shadow: 0 0 25px white;
  }
}

.header_lp__lang {
  border: 2px solid #ff0000;
  padding: 15px;
  background: none;
  border-radius: 12px;
  &:hover{
    background: red;
  }
}

.header_container {
  .col {
    margin-top: 35px;
  }
  .header_container__img {
    width: 200px;
    margin-bottom: 60px;
  }
  .header_container__title {
    font-size: 63px;
    font-weight: bold;
    font-family: "Geometric415BT";
    color: rgba(51, 102, 204, 0.149);
    text-transform: uppercase;
    margin-left: 120px;
    padding-bottom: 50px;
  }
  .header_container__main_img {
    margin-top: 100px;
    margin-bottom: 150px;
    background-image: url("/img/illustr.png");
    height: 415px;
    width: 500px;
    background-size: 490px;
    background-position: right;
    //background: white;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    filter: contrast(100%) grayscale(87%);
  }
  .header_container__main_img::after {
    background-image: url("/img/illustr.png");
    mix-blend-mode: lighten;
    content: '';
    height: 415px;
    width: 100%;
    background-size: 490px;
    background-position: right;
    position: absolute;
    background-repeat: no-repeat;
    //background: white;
    filter: grayscale(100%) contrast(100%);
    left: 0;
    background-blend-mode: hard-light;
  }
  .header_container__slide_inform__title, .header_container__slide_inform__text {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-family: "Montserrat";
  }
  .header_container__slide_inform__title {
    font-size: 36px;
    text-align: center;
    width: 100%;
    margin-top: 25px;
  }
  .header_container__slide_inform {
    //margin-top: 100px;

    .header_container__slide_inform__text {
      background: linear-gradient(to bottom right, #00072f, #002269);
      padding: 40px 70px;
      border-radius: 15px 15px 0 0;
      font-size: 20px;
      margin-top: 65px;
      height: 100%;
    }
  }
}

.curr {
  background-color: #021032;
  min-height: 60px;
  color: white;
  .curr__block {
    min-height: 60px;
  }
  .curr_wrap {
    padding: 15px 45px 15px 140px;
  }
  .curr__cont {
    margin-right: 45px;
    margin: auto;
  }
  .curr__name {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
  }
  .curr__value {
    font-size: 10px;
    line-height: 13px;
    .curr__value_perc {
      color: #015b11;
    }
    .curr__value_subsid {
      color: rgb(255, 0, 0);
    }
    i {
      font-size: 21px;
      margin: -9px 5px;
    }
  }
  .cur__rel {
    text-transform: uppercase;
    border-left: 1px solid #9BA2AB;
    & > div {
      margin-top: 22px;
    }
    a {
      color: red;
    }

  }
}

.stick {
  border-radius: 10px;
  background-color: rgb(255, 153, 0);
  //margin:auto;
  width: 120px;
  height: 24px;
  //display: inline-block;
}

.faucet__title {
  margin-top: 50px;
}

.step_img {
  width: 100%;
}

.wrap_block {
  .faucet {
    position: relative;
    .faucet__title {
      position: absolute;
      z-index: 1;

      div {
        display: inline-block;
      }
      :nth-child(1) {
        font-weight: bold;
        color: rgb(222, 134, 2);
        padding: 0 80px;
      }
      :nth-child(2) {
        color: rgb(255, 255, 255);
        text-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .faucet__left {
      background-color: rgb(3, 28, 85);
      padding: 50px;
    }
    .faucet__right {
      background-color: #153C70;
    }
  }
}

.integra {
  position: relative;

  .step_p {
    text-align: right;
  }

  .faucet__title {
    position: absolute;
    z-index: 1;
    :nth-child(1) {
      text-align: right;
      font-weight: bold;
      color: white;
    }
    :nth-child(2) {
      padding: 0 80px;
      color: #008DCE;
      text-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .faucet__left {
    background-color: #D37500;
  }
  .faucet__right {
    background-color: #F78700;
  }
}

.games {
  position: relative;
  //background-color: rgb(3, 28, 85);
  .faucet__title {
    position: absolute;
    z-index: 1;
    div {
      display: inline-block;
    }
    :nth-child(1) {
      font-weight: bold;
      color: #000066;
    }
    :nth-child(2) {
      color: rgb(255, 255, 255);
      text-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
      font-weight: bold;
      line-height: 3.4;
    }
  }
  .faucet__left {
    background-color: #0099CC;
  }
  .faucet__right {
    background-color: #3399CC;
  }
}

.bottom_wave {
  background-color: #663366;
  img {
    width: 100%;
  }
}

.clear {
  clear: both;
}

.content_advantages__name,
.content_advantages__text {
  text-transform: uppercase;
  color: rgb(4, 34, 103);
  font-family: "Montserrat";
}

.content_advantages__name {
  font-size: 35px;
  font-weight: bold;

}

.content_advantages__line {
  background: linear-gradient(to left, #ff4d0f, rgba(255, 77, 15, 0));
  height: 12px;
  width: 100%;
}

.content_advantages__text {
  font-size: 20px;
}

.content_advantages {
  .scroll_bottom {
    position: absolute;
    top: -140px;
    background: white;
    color: #ff9a00;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.51);
    font-size: 28px;
    left: 49%;
    padding: 7px 22px;
    border: 0;
    border-radius: 55px;
    &:hover{
      color: white;
      background: #ff9a00;
    }
  }
  .circl_line__right, .circl_line__left {
    position: absolute;
    //left:49%;
    //top:-140px;
    background: rgb(0, 102, 208);
    width: 35px;
    height: 35px;
    border-radius: 55px;
    box-shadow: 0 0 60px rgb(0, 102, 208);
  }
  .circl_line__left {
    left: 23%;
    top: -250px;
  }
  .circl_line__right {
    right: 24%;
    top: -75px;
  }
  .content_advantages__background {
    position: absolute;
    top: -280px;
    z-index: -1;
    width: 100%;
  }
  //background-image: url("/img/bg_gray2.svg");
  position: relative;
  z-index: 99;
  .content_advantages__block {
    border-radius: 15px;
    margin-top: -15px;
    border-left: $border;
    border-right: $border;
    border-bottom: $border;
    cursor: pointer;
    transition-duration: 0.6s;
    .content_advantages__block__text, .content_advantages__block__content__header, .content_advantages__block__image {
      font-family: "Montserrat";
      text-transform: uppercase;
    }
    .content_advantages__block__image {
      border-top: $border;
      background: #eeeeee;
      cursor: pointer;
      border-radius: 15px 0 0 15px;
      &.orange_image {
        img {
          filter: hue-rotate(204deg) saturate(1) invert(10%) brightness(55%) contrast(111%)
        }
      }
      span {
        font-size: 100px;
        font-family: "Montserrat";
        color: transparent;
        background-color: #eeeeee;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 1px 3px 6px #e5e5e5, 0 0 0 #9a9a9a, 1px 4px 6px #e5e5e5;

        margin: auto;
      }
      img {
        width: 150px;
        height: 150px;
        margin: auto;
      }
    }
    .content_advantages__block__content {
      border-top: $border;
      background: white;
      padding: 60px 50px;
      border-radius: 0 15px 15px 0;
      .content_advantages__block__text, .content_advantages__block__content__header {
        color: rgb(4, 34, 103);
      }
      .content_advantages__block__content__header {
        font-size: 24px;
        font-weight: 600;
      }
      .content_advantages__block__text {
        font-size: 24px;
        padding-top: 40px;
      }
    }
    &:hover {
      transform: translateX(-75px);
      z-index: 55555;
      position: relative;
      .orange_image {
        img {
          filter: none;
        }
      }
      img {
        filter: hue-rotate(163deg) saturate(1) invert(13%) brightness(189%) contrast(188%);
      }
      span {
        color: #ff6600;
      }
      margin-top: -65px;
      margin-bottom: -65px;
    }
  }
}

.create_currency {
  background: linear-gradient(to bottom, #612053, #001e6c);
  padding: 15px;
  position: relative;
  overflow: hidden;
  .background_line {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
  }
  .create_currency__header {
    z-index: 2;
    h2, p {
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
    }
    h2 {
      font-size: 48px;
      font-weight: bold;
    }
    p {
      font-size: 24px;
    }
  }
}

.form_registration {
  padding: 75px 85px;
  border-radius: 15px;
  background: linear-gradient(to right, #251f61, #522058);
  height: 663px;
  label {
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 18px;
  }
  input {
    height: 55px;
    margin-bottom: 35px;
    font-size: 18px;
  }
  span {
    color: #ff0b42
  }
  button {
    margin-top: 20px;
    width: 100%;
  }
}

.table_block {
  table {
    border-radius: 0 0 25px 25px;
    background-color: #7ecdff !important;
    border: none;
    position: relative;
    box-shadow: 0 0 25px #6d6c6c;
    z-index: 10;
    thead {
      border-radius: 25px 25px 0 0;
      background: #65a8fd;
      display: table-caption;
      tr {
        display: flex;
        margin: auto;
        border: none;
      }
      th {
        color: #0066d0;
        border: none !important;
        //padding: 25px 0 !important;
        text-align: left;

        margin: auto;
        img {
          margin: auto;
          //text-align: right;
        }
      }
    }
    tr {
      min-height: 99px;
      height: 99px;
      font-size: 30px;
      font-family: "Roboto";
      border-top: 1px solid #4a84ff;
      td {
        border: none !important;
        text-align: center;
        padding: 25px 0 !important;
      }
    }
    a {
      color: #009aff;
      text-decoration: none !important;
    }
    tr:nth-child(even) {
      background: #66a8fd;
    }
    &::after {
      width: 100%;
      height: 100%;
      position: absolute;
      content: '';
      top: 0;
      background: linear-gradient(to top, #63a8fd, rgba(0, 0, 0, 0));
      border-radius: 0 0 25px 25px;
    }
  }
  p {
    font-size: 24px;
    font-family: "Montserrat";
    color: rgb(102, 102, 204);
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
  }
}

.block_faq {
  background: #fff;
  padding-top: 265px;
  z-index: 5;
  margin-top: -165px;
  position: relative;
  padding-bottom: 150px;
  .accordion {
    h5 button {
      font-size: 45px;
      font-family: "Montserrat";
      color: rgb(23, 28, 56);
      font-weight: bold;
      padding: 35px 50px;
      white-space: pre-line;
      line-height: 1;
    }
    .card-body {
      font-size: 28px;
      font-family: "Montserrat";
      color: rgb(51, 51, 51);
      border-left: 2px solid #ec2f2f;
      //padding:50px 0;
      margin-top: 30px;
    }
  }
}

.block_faq__button {
  text-align: center;
  width: 100%;
  button {
    font-size: 23px;
    font-family: "Montserrat";
    color: rgb(255, 77, 15);
    padding: 23px;
    background: none;
    border: 2px solid rgb(255, 77, 15);
    text-transform: uppercase;
    cursor: pointer !important;
    outline: none;
    font-weight: bold;
    width: 400px;
    border-radius: 55px;
    outline: none;
    //margin-left: 31%;
    &:hover{
      background: rgb(255, 77, 15);
      box-shadow: 0 0 25px rgb(255, 77, 15);
      color:white;
    }
  }
}

.footer_block {
  background: linear-gradient(to top, #001e6b, #33196b);
  padding-top: 50px;
  .container {
    max-width: 750px;
  }
  .footer_block__social {
    padding: 55px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    span {
      font-size: 18px;
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
    }
    .d-flex {
      margin-top: 80px;
    }
    a {
      margin: auto;
      //opacity: 0.5;
      background-image: url("../img/normal.png");
      width: 55px;
      height: 52px;
      //background-repeat:no-repeat ;
      &.footer_block__social__face {
        background-position: 215px;
      }
      &.footer_block__social__inst {
        background-position: 0px;
      }
      &.footer_block__social__tele {
        background-position: 370px;
      }
      &.footer_block__social__twit {
        background-position: 55px;
      }
      &:hover {
        background-image: url("../img/active.png");
      }
    }
  }

  .footer_block__link {
    padding: 30px;
    span, a {
      font-size: 18px;
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      text-align: left;
    }
    span {
      font-weight: bold;
    }
  }
  .link_create {
    height: 75px;
    background: #001960;
    margin-top: 15px;
    text-align: center;
    padding: 30px;
    span {
      font-size: 14px;
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      margin: auto;
    }
  }
}
@media all and (min-width: 0px) {
  .menu__icon{
    align-self: flex-start;
  }
  .menu{
    padding: 38px 45px 0 0 ;
    flex-direction: column;
    align-items: flex-end;
    .menu__nav{
      margin-bottom:20px;
    }
  }
  .navbar{
    min-width: 640px !important;
  }
  .step_p {
    font-size: 26px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 2;
    max-width: 565px;
  }

  .stick {
    width: 80px;
    height: 15px;
    margin: auto auto 20px auto;
  }
  .step_text {
    margin-top: 250px;
    padding: 10px;
  }

  .faucet__title {
    font-family: "Montserrat";
    width: 100%;
    .faucet__title_1 {
      font-size: 30px;
      margin: auto 0;
    }
    .faucet__title_2 {
      font-size: 90px;
      margin: auto 0;

    }
  }
  .wrap_block {
    padding: 0;
  }
  .block_faq {
    .card-header {
      h5 {
        text-align: center;
      }
    }
  }
  .curr {
    .curr_wrap {
      padding: 15px 0 15px 0;
      flex: 0 0 86%;
      max-width: 86%;
    }
    .curr__name, .cur__rel {
      font-size: 10px;
    }
    .cur__rel {
      flex: 0 0 14%;
      max-width: 14%;
    }
    .curr__value {
      font-size: 8px;
    }
  }
  .header_lp__sign, .header_lp__login, .header_lp__lang {
    font-size: 14px;
    padding: 15px;
    margin-left: 45px;
  }
  .header_lp__sign, .header_lp__login {
    width: 180px;
  }
  .header_lp__login {
    display: block;
    margin-top: 15px;
  }
  .list_top_14 {
    margin-top: 75px;
  }

  .header_container {
    &.container {
      //max-width: 700px;
    }
    .col {
      margin-top: 0;
      justify-content: flex-start !important;
    }
    .header_container__img {
      margin-bottom: 0;
    }
    .header_container__title {
      font-size: 63px;
      margin-left: 120px;
      padding-bottom: 50px;
    }
    .header_container__slide_inform__title {
      font-size: 36px;
    }
    .header_container__slide_inform {
      flex: 0 0 60%;
      max-width: 60%;
      .header_container__slide_inform__text {
        padding: 40px 70px;
        font-size: 20px;
        margin-top: 65px;
        position: relative;
        &::after{
          content: '';
          width:30px;
          height: 30px;
          border-radius: 0 8px 8px 0;
          background: #003184;
          position: absolute;
          left: 0;
          top:55px;
        }
      }
    }
    .header_container__main_img {
      flex: 0 0 40%;
      max-width: 40%;
      background-size: 238px;
      top: -90px;
      right: 80px;
      &::after {
        background-size: 238px;
      }
    }
  }
  .content_advantages {
    .container {
      //max-width: 600px;
    }
    .content_advantages__background {
      top: -390px;
    }
    .content_advantages__block {
      .content_advantages__block__content {
        padding: 30px 20px;
        .content_advantages__block__content__header {
          font-size: 20px;
          font-weight: 600;
        }
        .content_advantages__block__text {
          font-size: 20px;
          padding-top: 15px;
        }
      }
      &:hover {
        transform: translateX(-10px);
        margin-top: -65px;
        margin-bottom: -65px;
      }
      .content_advantages__block__image {
        span {
          font-size: 80px;
        }
        img {
          width: 100px;
          height: 100px;
          margin: auto;
        }
      }
    }
    .scroll_bottom {
      top: -19%;
      font-size: 28px;
      left: 49%;
      padding: 7px 22px;
    }
    .circl_line__right, .circl_line__left {
      width: 30px;
      height: 30px;
    }
    .circl_line__left {
      left: 23%;
      top: -377px;
    }
    .circl_line__right {
      right: 23%;
      top: -280px;
    }
    .container {
      padding: 0;
    }
  }
  .container-fluid {
    .col-4 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  }
  .create_currency {
    .create_currency__header {
      max-width: none;
      margin: auto;
      h2 {
        font-size: 48px;
      }
      p {
        font-size: 24px;
      }
    }
  }
  .comets1 {
    left: 0px;
    top: -75px;
  }
  .comets2 {
    right: 0px;
    top: 45px
  }
  .container {
    max-width: 600px;
  }
  .create_currency {
    .container-fluid {
      &.mt-250 {
        margin-top: 75px;
        .block_computer {
          &.container {
            //max-width: 700px;
          }
          //margin-top: -150px;
          margin-bottom: 415px;
          .col img {
            width: 700px;
          }
        }
      }
    }
  }
  .form_registration {
    position: absolute;
    max-width: 570px;
    right: 0;
    top: 212px;
  }
  .rewardatron_hidden {
    font-size: 72px;
    position: initial;
    margin-bottom: 100px;
  }
  .table_block {
    margin: 0 -25px !important;
    table {
      thead {
        tr {
          min-height: 99px;
          height: 99px;
          font-size: 30px;
        }
      }
    }
    p {
      font-size: 20px;
      margin: 20px auto;
    }
  }
  .block_faq {
    .accordion {
      h5 button {
        font-size: 45px;
        padding: 10px 0px;
      }
      .card-body {
        font-size: 28px;
        margin-top: 30px;
      }
    }
    .block_faq__button button {
      //margin-left: 20%;
      margin-top: 45px;
    }
  }
  .hidden_64 {
    display: none;
    position: absolute;
    opacity: 0;
  }
  .hidden_75 {
    display: none;
    position: absolute;
    opacity: 0;
  }
  .hidden_10 {
    display: none;
    position: absolute;
    opacity: 0;
  }
}

@media all and (min-width: 750px) {
  .content_advantages{
    .content_advantages__block{
      .scroll_bottom {
        top: -21%;
      }
    }
  }
  .games .faucet__title_1 {
    padding-left: 50px;
  }
  .games .faucet__title_2 {
    padding-right: 50px;
  }

    .hidden_64 {
      display: block;
      position: initial;
      opacity: 1;
    }

    .container {
      max-width: 700px;
    }
    .header_container {
      .header_container__slide_inform {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .header_container__main_img {
        flex: 0 0 50%;
        max-width: 50%;
        background-size: 320px;

        &::after {
          background-size: 320px;
        }
      }
    }
  }

@media all and (min-width: 1024px) {
  .menu{
    flex-direction: row;
    align-items: flex-start;
    padding-top: 38px;
    .menu__nav{
      margin: 0 auto;
    }
  }

  .step_img_block {
    padding-top: 200px;
    padding-bottom: 50px;
  }

  .step_shadow {
    box-shadow: 24px 20px 14px #C4C4C4;
  }
  .wrap_block {
    padding: 0 15px;
  }
  .container {
    max-width: 960px;
  }
  .block_faq {
    .accordion {
      h5 button {
        font-size: 45px;
        padding: 35px 50px;
      }
      .card-body {
        font-size: 28px;
        margin-top: 30px;
      }
    }
    //.block_faq__button{
    //  //margin-left: 31%;
    //  //margin-top:45px;
    //}
  }
  .table_block {
    margin: 0 !important;
    table {
      thead {
        tr {
          min-height: 99px;
          height: 99px;
          font-size: 30px;
        }
      }
    }
    p {
      font-size: 24px;
    }
  }
  .hidden_75 {
    display: block;
    position: initial;
    opacity: 1;
  }
  .table {
    .hidden_75 {
      display: table-cell;
    }
  }
  .block_faq {
    .card-header {
      h5 {
        text-align: center;
      }
    }
  }
  .curr {
    .curr_wrap {
      padding: 15px 0 15px 0;
      flex: 0 0 86%;
      max-width: 86%;
    }
    .curr__name, .cur__rel {
      font-size: 10px;
    }
    .cur__rel {
      flex: 0 0 14%;
      max-width: 14%;
    }
    .curr__value {
      font-size: 8px;
    }
  }
  .header_lp__sign, .header_lp__login, .header_lp__lang {
    font-size: 14px;
    padding: 15px;
    margin-left: 45px;
  }
  .header_lp__sign, .header_lp__login {
    width: 180px;
  }
  .header_lp__login {
    display: block;
    margin-top: 15px;
  }
  .list_top_14 {
    margin-top: 75px;
  }

  .header_container {
    .col {
      margin-top: 35px;
      justify-content: flex-end !important;
    }
    .header_container__img {
      margin-bottom: 60px;
    }
    .header_container__title {
      font-size: 63px;
      margin-left: 120px;
      padding-bottom: 50px;
    }
    .header_container__slide_inform__title {
      font-size: 36px;
    }
    .header_container__slide_inform {
      .header_container__slide_inform__text {
        padding: 40px 70px;
        font-size: 20px;
        margin-top: 65px;
      }
    }
    .header_container__main_img {
      background-size: 320px;
      top: -90px;
      right: 80px;
      &::after {
        background-size: 320px;
      }
    }
  }
  .content_advantages {
    .content_advantages__block {
      .content_advantages__block__content {
        padding: 60px 50px;
        .content_advantages__block__content__header {
          font-size: 24px;
          font-weight: 600;
        }
        .content_advantages__block__text {
          font-size: 24px;
          padding-top: 40px;
        }
      }
      &:hover {
        transform: translateX(-75px);
        margin-top: -65px;
        margin-bottom: -65px;
      }
      .content_advantages__block__image {
        span {
          font-size: 100px;
        }
        img {
          width: 150px;
          height: 150px;
          margin: auto;
        }
      }
    }
    .content_advantages__background {
      top: -390px;
    }
    .scroll_bottom {
      top: -13%;
      font-size: 28px;
      left: 49%;
      padding: 7px 22px;
    }
    .circl_line__right, .circl_line__left {
      width: 30px;
      height: 30px;
    }
    .circl_line__left {
      left: 23%;
      top: -377px;
    }
    .circl_line__right {
      right: 23%;
      top: -280px;
    }
  }
}

@media all and (min-width: 1440px) {
  .faucet__title {
    .faucet__title_1 {
      font-size: 52px;
    }
    .faucet__title_2 {
      font-size: 150px;
    }
  }

  .step_p {
    font-size: 30px;
  }
  .step_img_block {
    padding-top: 300px;
  }
  .container {
    max-width: 1140px;
  }
  .block_faq {
    .card-header {
      h5 {
        text-align: left;
      }
    }
  }
  .create_currency {
    .container-fluid {
      .mt-250 {
        margin-top: 250px;
      }
    }
  }
  .comets1, .comets2 {
    top: -65px;
  }
  .comets1 {
    left: -160px;
  }
  .comets2 {
    right: 160px;
  }
  .hidden_10 {
    display: initial;
    position: initial;
    opacity: 1;
  }
  .content_advantages__name {
    font-size: 35px;
  }
  .container-fluid {
    .col-4 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
    }
  }

  .content_advantages {
    .container {
      padding: 0 15px;
    }

    .content_advantages__background {
      top: -330px;
    }
    .scroll_bottom {
      top: -8%;
      font-size: 28px;
      left: 49%;
      padding: 7px 22px;
    }
    .circl_line__right, .circl_line__left {
      width: 30px;
      height: 30px;
    }
    .circl_line__left {
      left: 23%;
      top: -255px;
    }
    .circl_line__right {
      right: 23%;
      top: -112px;
    }
  }
  .header_container {
    .header_container__title {
      font-size: 63px;
      margin-left: 120px;
      padding-bottom: 50px;
    }
    .header_container__slide_inform__title {
      font-size: 36px;
    }
    .header_container__slide_inform {
      .header_container__slide_inform__text {
        padding: 40px 70px;
        font-size: 20px;
        margin-top: 65px;
      }
    }
    .header_container__main_img {
      background-size: 375px;
      top: initial;
      right: initial;
      &::after {
        background-size: 375px;
      }
    }
  }
  .curr {
    .curr_wrap {
      padding: 15px 40px 15px 80px;
    }
    .curr__name {
      font-size: 12px;
    }
    .curr__value {
      font-size: 10px;
    }
  }
  //.header_lp__sign, .header_lp__login, .header_lp__lang {
  //  font-size: 14px;
  //  padding: 15px;
  //  margin-right: 45px;
  //}
  //.header_lp__sign, .header_lp__login {
  //  width: 180px;
  //}
  //.header_lp__login {
  //  display: block;
  //  margin-top: 15px;
  //}
  //.list_top_14 {
  //  margin-top: 75px;
  //}
  //#header_lp__navbar, .header_lp__logo {
  //  margin-top: -40px;
  //}
  .wrap_block {
    padding: 0 45px;

  }
  .mt-250 {
    .block_computer {
      margin-bottom: 1px;
      //margin-top: -150px;
      //.col img {
      //  width: 700px;
      //}
    }
  }
  .logo_hidden {
    right: -230px;
    top: 200px;
    width: 510px;
    position: absolute;
    opacity: 0.1;
  }
  .form_registration {
    padding: 70px;
    height: 613px;
    position: initial;
    max-width: none;
    label {
      font-size: 18px;
    }
    input {
      height: 55px;
      margin-bottom: 35px;
      font-size: 18px;
    }
    button {
      margin-top: 20px;
    }
  }
  .create_currency {
    .create_currency__header {
      max-width: none;
    }
  }
  .rewardatron_hidden {
    font-size: 72px;
    position: initial;
    margin-bottom: 100px;
  }

  .faucet .stick {
    margin: 0px auto 30px auto;
  }
}

@media all and (min-width: 1920px) {
  .faucet {
    .step_text {
      align-items: flex-start !important;
      margin-left: 73px;
    }
    .stick {
      margin: 0 0 50px 125px;
    }
  }
  .integra {
    .step_text {
      align-items: flex-end !important;
      margin-right: 73px;
    }
    .stick {
      margin-right: 50px;
    }
  }
  .games {
    .step_text {
      align-items: flex-start !important;
      margin-left: 73px;
    }
    .stick {
      margin: 0 0 30px 45px;
    }
    .step_img_block {
      padding-top: 300px;
    }

    .faucet__title_2 {
      margin-right: 156px;
    }
  }

  .step_shadow {
    box-shadow: 47px 20px 14px #C4C4C4;
  }
  .wrap_block {
    padding: 0 110px;
  }

  .step_img_block {
    padding-top: 250px;
  }

  .rewardatron_hidden {
    position: absolute;
    margin-bottom: 0;
  }
  .form_registration {
    padding: 75px 85px;
    height: 663px;
    input {
      height: 55px;
    }
    button {
      margin-top: 20px;
    }
  }
  .logo_hidden {
    width: 600px;
    right: 0;
  }
  .create_currency {
    .container-fluid {
      &.mt-250 {
        .block_computer {
          margin-top: 0;
          .col img {
            width: auto;
          }
        }
      }
    }
  }
  .header_container {
    .header_container__main_img {
      background-size: 490px;
      &::after {
        background-size: 490px;
      }
    }
  }
  .content_advantages {
    .scroll_bottom {
      top: -7%;
      font-size: 28px;
      left: 49%;
      padding: 7px 22px;
    }
    .circl_line__right, .circl_line__left {
      width: 35px;
      height: 35px;
    }
    .circl_line__left {
      left: 23%;
      top: -250px;
    }
    .circl_line__right {
      right: 24%;
      top: -75px;
    }
  }
  .curr {
    .curr_wrap {
      padding: 15px 45px 15px 140px;
    }
  }
  .header_lp__sign, .header_lp__login {
    width: 195px;
  }
  .header_lp__sign, .header_lp__login, .header_lp__lang {
    padding: 17px;
  }
  .list_top_14 {
    margin-top: auto;
  }
  #header_lp__navbar {
    margin-top: auto;
  }
  .header_lp__logo{
    margin-top:23px;
  }
  .header_lp__login {
    display: initial;
    margin-top: auto;
  }
}


