$background: rgb(2, 16, 50);
$font: Geometric415BT-A;

body.lp {
  font-family: $font;
  background: #e6e6e6;
}

.header_lp {
  background: linear-gradient(to left, #001f6d, #000832);;
  height: 100%;
  .header_lp__logo {
    color: rgb(255, 255, 255) !important;
    font-size: 24px;
    img {
      height: 70px;
      width: 70px;
    }
  }
  #header_lp__navbar {
    a {
      font-size: 18px;
      text-transform: uppercase;
      color: white !important;
    }
  }
  .header_lp__sign, .header_lp__login, .header_lp__lang {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    padding: 17px;
    border: none;
    text-transform: uppercase;
    margin-right: 45px;
    cursor: pointer !important;
    outline: none;
    font-weight: bold;
  }
  .header_lp__sign, .header_lp__login {
    width: 195px;
    border-radius: 55px;
  }
  .header_lp__sign {
    background: #ff4d0f;
    box-shadow: 0 0 25px #ff4d0f;
  }
  .header_lp__login {
    background: none;
    border: 2px solid white;
  }
  .header_lp__lang {
    border: 2px solid #ff0000;
    padding: 15px;
    background: none;
    border-radius: 12px;
  }
}
.header_container{
  .col{
    margin-top:75px;
  }
  .header_container__img{
    width: 200px;
    margin-top: -90px;
  }
  .header_container__title{
      font-size: 63px;
    font-weight: bold;
      font-family: "Geometric415BaT";
      color: rgba(51, 102, 204, 0.149);
      text-transform: uppercase;
    margin-left:120px;
    padding-bottom:50px;
  }
  .header_container__main_img{
    margin-top:100px;
    margin-bottom: 80px;
    background-image: url("/img/illustr.png");
    height:  415px;
    width: 500px;
     background-size: 490px;
        background-position: right;
    //background: white;
    background-repeat:no-repeat ;
    background-blend-mode:hard-light;
    filter: contrast(100%) grayscale(87%);
  }
  .header_container__main_img::after{
    background-image: url("/img/illustr.png");
    mix-blend-mode: lighten;
    content: '';
    height: 415px;
    width: 100%;
    background-size: 490px;
        background-position: right;
    position: absolute;
    background-repeat:no-repeat ;
    //background: white;
    filter: grayscale(100%) contrast(100%);
    left:0;
    background-blend-mode:hard-light;
  }
  .header_container__slide_inform {
    margin-top: 100px;
    .header_container__slide_inform__title, .header_container__slide_inform__text {
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      font-family: "Montserrat";
    }
    .header_container__slide_inform__title {
      font-size: 40px;
    }
    .header_container__slide_inform__text {
      background: linear-gradient(to bottom right, #00072f, #002269);
      padding: 40px 85px;
      border-radius: 15px 15px 0 0;
      font-size: 21px;
      margin-top: 65px;
      height: 100%;
    }
  }
}

.curr {
  background-color: #021032;
  min-height: 60px;
  color: white;
  .curr__block {
    min-height: 60px;
  }
  .curr_wrap {
    padding: 15px 45px 15px 140px;
  }
  .curr__cont {
    //margin-right: 45px;
    margin: auto;
  }
  .curr__name {
    text-transform: uppercase;
    font-weight: 500;
  }
  .curr__value {
    font-size: 10px;
    line-height: 13px;
    .curr__value_perc {
      color: #015b11;
    }
    .curr__value_subsid {
      color: rgb(255, 0, 0);
    }
    i {
      font-size: 21px;
      margin: -9px 5px;
    }
  }
  .cur__rel {
    text-transform: uppercase;
    border-left: 1px solid #9BA2AB;
    & > div {
      margin-top: 22px;
    }
    a {
      color: red;
    }

  }
}
.stick{
  border-radius: 10px;
  background-color: rgb(255, 153, 0);

  width: 120px;
  height: 24px;
  display: inline-block;
}


.wrap_block{
  margin: 0 60px 0 60px;
  .faucet {
    position: relative;
    //background-color: rgb(3, 28, 85);
    .faucet__title {
      position: absolute;
      z-index: 1;
      //top: 100px;
      div{
        display: inline-block;
      }
        :nth-child(1) {
        margin-left: 281px;
        margin-right: 210px;
        font-size: 150px;
        font-family: "Montserrat";
        font-weight: bold;
        color: rgb(222, 134, 2);
      }
      :nth-child(2) {
        font-size: 72px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        text-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 3.4;
      }
    }
    .faucet__left {
      background-color: rgb(3, 28, 85);
      img {
        margin: 300px 0 0 276px;
      }
    }
    .faucet__right {
      background-color: #153C70;
      &>div{
        margin: 300px 0 0 100px;
      }
      .stick{
        margin:0 0 30px 45px;
      }
      p {
        font-size: 30px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: 600;
        line-height: 2;
        width: 565px;
      }
    }
  }
  .integra {
    position: relative;
    //background-color: rgb(3, 28, 85);
    .faucet__title {
      position: absolute;
      z-index: 1;
      //top: 100px;
      div{
        display: inline-block;
      }
      :nth-child(1) {
        margin-left: 281px;
        margin-right: 210px;
        font-size: 100px;
        font-family: "Montserrat";
        font-weight: bold;
        color: rgb(222, 134, 2);
      }
      :nth-child(2) {
        font-size: 72px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        text-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 3.4;
      }
    }
    .faucet__left {
      background-color: rgb(3, 28, 85);
      img {
        margin: 300px 0 0 276px;
      }
    }
    .faucet__right {
      background-color: #153C70;
      &>div{
        margin: 300px 0 0 100px;
      }
      .stick{
        margin:0 0 30px 45px;
      }
      p {
        font-size: 30px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: 600;
        line-height: 2;
        width: 565px;
      }
    }
  }
}
