$background: rgb(2, 16, 50);
$font: Geometric415BT-A;
$border: 1px solid #cdcdcd;
.status_active{
 color: #009a63
}
body.lp {
  font-family: $font;
  background: #e6e6e6;
}
.block_computer{
  position: relative;
}
.rewardatron_hidden{
    font-size: 72px;
    font-family: "Geometric415BT";
    color: rgba(51, 102, 204, 0.149);
    text-transform: uppercase;
  position: absolute;
  bottom: 105px;
  //margin: auto;
  font-weight: bold;
  //text-align: center;
  left:50%;
  margin-left:-15%;
}
.comets1,.comets2{
  position: absolute;
  top: -65px;
  z-index: 0;
}
.comets1{
  left: -160px;
}
.comets2{
  right: 160px;
}
.logo_hidden{
  width:600px;
  position: absolute;
  right:0;
  top:100px;
  opacity: 0.1;
}
.mt-100 {
  margin-top: 100px;
}

.mt-250 {
  margin-top: 250px;
}

.mt-150 {
  margin-top: 150px;
}

.header_lp {
  background: linear-gradient(to left, #001f6d, #000832);;
  height: 100%;
  .header_lp__logo {
    color: rgb(255, 255, 255) !important;
    font-size: 24px;
    img {
      height: 70px;
      width: 70px;
    }
  }
  #header_lp__navbar {
    a {
      font-size: 18px;
      text-transform: uppercase;
      color: white !important;
    }
  }
}
.header_lp__sign, .header_lp__login, .header_lp__lang {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  padding: 17px;
  border: none;
  text-transform: uppercase;
  margin-right: 45px;
  cursor: pointer !important;
  outline: none;
  font-weight: bold;
}
.header_lp__sign, .header_lp__login {
  width: 195px;
  border-radius: 55px;
}
.header_lp__sign {
  background: #ff4d0f;
  box-shadow: 0 0 25px #ff4d0f;
}
.header_lp__login {
  background: none;
  border: 2px solid white;
}
.header_lp__lang {
  border: 2px solid #ff0000;
  padding: 15px;
  background: none;
  border-radius: 12px;
}

.header_container {
  .col {
    margin-top: 75px;
  }
  .header_container__img {
    width: 200px;
    margin-top: -90px;
  }
  .header_container__title {
    font-size: 63px;
    font-weight: bold;
    font-family: "Geometric415BaT";
    color: rgba(51, 102, 204, 0.149);
    text-transform: uppercase;
    margin-left: 120px;
    padding-bottom: 50px;
  }
  .header_container__main_img {
    margin-top: 100px;
    margin-bottom: 150px;
    background-image: url("/img/illustr.png");
    height: 415px;
    width: 500px;
    background-size: 490px;
    background-position: right;
    //background: white;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    filter: contrast(100%) grayscale(87%);
  }
  .header_container__main_img::after {
    background-image: url("/img/illustr.png");
    mix-blend-mode: lighten;
    content: '';
    height: 415px;
    width: 100%;
    background-size: 490px;
    background-position: right;
    position: absolute;
    background-repeat: no-repeat;
    //background: white;
    filter: grayscale(100%) contrast(100%);
    left: 0;
    background-blend-mode: hard-light;
  }
  .header_container__slide_inform {
    margin-top: 100px;
    .header_container__slide_inform__title, .header_container__slide_inform__text {
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      font-family: "Montserrat";
    }
    .header_container__slide_inform__title {
      font-size: 36px;
      text-align: center;
    }
    .header_container__slide_inform__text {
      background: linear-gradient(to bottom right, #00072f, #002269);
      padding: 40px 70px;
      border-radius: 15px 15px 0 0;
      font-size: 20px;
      margin-top: 65px;
      height: 100%;
    }
  }
}

.curr {
  background-color: #021032;
  min-height: 60px;
  color: white;
  .curr__block {
    min-height: 60px;
  }
  .curr_wrap {
    padding: 15px 45px 15px 140px;
  }
  .curr__cont {
    //margin-right: 45px;
    margin: auto;
  }
  .curr__name {
    text-transform: uppercase;
    font-weight: 500;
  }
  .curr__value {
    font-size: 10px;
    line-height: 13px;
    .curr__value_perc {
      color: #015b11;
    }
    .curr__value_subsid {
      color: rgb(255, 0, 0);
    }
    i {
      font-size: 21px;
      margin: -9px 5px;
    }
  }
  .cur__rel {
    text-transform: uppercase;
    border-left: 1px solid #9BA2AB;
    & > div {
      margin-top: 22px;
    }
    a {
      color: red;
    }

  }
}

.stick {
  border-radius: 10px;
  background-color: rgb(255, 153, 0);

  width: 120px;
  height: 24px;
  display: inline-block;
}

.wrap_block {
  margin: 0 60px 0 60px;
  border-image: url("/img/gray_3.svg");
  .faucet {
    position: relative;
    >div{
      height: 1081px;
    }
    .faucet__title {
      position: absolute;
      z-index: 1;
      div {
        display: inline-block;
      }
      :nth-child(1) {
        margin-left: 281px;
        margin-right: 210px;
        font-size: 10em;
        font-family: "Montserrat";
        font-weight: bold;
        color: rgb(222, 134, 2);
      }
      :nth-child(2) {
        font-size: 5em;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        text-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 3.4;
      }
    }
    .faucet__left {
      background-color: rgb(3, 28, 85);
      img {
        margin: 300px 65px auto auto;
        display: block;
      }
    }
    .faucet__right {
      background-color: #153C70;
      & > div {
        margin: 300px 0 0 100px;
      }
      .stick {
        margin: 0 0 30px 45px;
      }
      p {
        font-size: 30px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: 600;
        line-height: 2;
        width: 565px;
      }
    }
  }
  .integra {
    >div{
      height: 1081px;
    }
    position: relative;
    .faucet__title {
      width: 100%;
      margin-top: 50px;
      position: absolute;
      z-index: 1;
      //top: 100px;
      div {
        display: inline-block;
      }
      :nth-child(1) {
        margin: auto;
        text-align: right;
        font-size: 5em;
        font-family: "Montserrat";
        font-weight: bold;
        color: white;
      }
      :nth-child(2) {
        margin: auto;

        font-size: 10em;
        font-family: "Montserrat";
        color: #008DCE;
        text-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .faucet__left {
      background-color: #D37500;
      &>div{
        //margin: 300px 0 0 100px;

      }
      .stick{
          margin-right: 100px;
      }

      .faucet__b_text{
        font-size: 30px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: 600;
        line-height: 2;
        width: 565px;
        text-align: right;
        float: right;
        margin: 350px 65px auto auto;
      }

    }
    .faucet__right {
      background-color: #F78700;
      img {
        margin: 300px 0 0 50px;
      }

    }
  }
  .faucet, .integra, .games{
    box-shadow: 47px 20px 14px #C4C4C4;
  }

  .games{
    >div{
      height: 1081px;
    }
    position: relative;
    //background-color: rgb(3, 28, 85);
    .faucet__title {
      position: absolute;
      width: 100%;
      margin-top: 41px;
      z-index: 1;
      div {
        display: inline-block;
      }
      :nth-child(1) {

        margin-right: 156px;
        font-size: 10em;
        font-family: "Montserrat";
        font-weight: bold;
        color: #000066;
      }
      :nth-child(2) {
        font-size: 5em;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        text-shadow: 0px 10px 18px rgba(0, 0, 0, 0.1);
        font-weight: bold;
        line-height: 3.4;
      }
    }
    .faucet__left {
      background-color: #0099CC;
      img {
        margin: 350px 65px auto auto;
        display: block;
      }
    }
    .faucet__right {
      background-color: #3399CC;
      & > div {
        margin: 350px 0 0 100px;
      }
      .stick {
        margin: 0 0 30px 45px;
      }
      p {
        font-size: 30px;
        font-family: "Montserrat";
        color: rgb(255, 255, 255);
        font-weight: 600;
        line-height: 2;
        width: 565px;
      }
    }
  }

}
.bottom_wave{
  background-color: #663366;
  img{
    width: 100%;
  }
}
.clear{
  clear: both;
}
.content_advantages__name,
.content_advantages__text {
  text-transform: uppercase;
  color: rgb(4, 34, 103);
  font-family: "Montserrat";
}

.content_advantages__name {
  font-size: 35px;
  font-weight: bold;

}

.content_advantages__line {
  background: linear-gradient(to left, #ff4d0f, rgba(255, 77, 15, 0));
  height: 12px;
  width: 100%;
}

.content_advantages__text {
  font-size: 20px;
}

.content_advantages {
  .content_advantages__background {
    position: absolute;
    top: -280px;
    z-index: -1;
  }
  //background-image: url("/img/bg_gray2.svg");
  position: relative;
  z-index: 99;
  .content_advantages__block {
    border-radius: 15px;
    margin-top: -15px;
    border-left: $border;
    border-right: $border;
    border-bottom: $border;
    cursor: pointer;
    transition-duration: 1s;
    .content_advantages__block__text, .content_advantages__block__content__header, .content_advantages__block__image {
      font-family: "Montserrat";
      text-transform: uppercase;
    }
    .content_advantages__block__image {
      border-top: $border;
      background: #eeeeee;
      cursor: pointer;
      border-radius: 15px 0 0 15px;
      &.orange_image {
        img {
          filter: hue-rotate(204deg) saturate(1) invert(10%) brightness(55%) contrast(111%)
        }
      }
      span {
        font-size: 100px;
        font-family: "Montserrat";
        color: transparent;
        background-color: #eeeeee;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 1px 3px 6px #e5e5e5, 0 0 0 #9a9a9a, 1px 4px 6px #e5e5e5;
        //2px -4px 17px #d2d2d2, 0 0 0 #000, -4px -2px 0px #d2d2d2
        //text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
        //background-clip: border-box;
        margin: auto;
      }
      img {
        width: 150px;
        height: 150px;
        margin: auto;
        //filter:hue-rotate(215deg) invert(20%) brightness(40%) contrast(100%);
        //filter:hue-rotate(204deg)  saturate(1) invert(10%) brightness(55%) contrast(111%);

        //filter:hue-rotate(163deg) saturate(1) invert(13%) brightness(189%) contrast(188%);
      }
    }
    .content_advantages__block__content {

      border-top: $border;
      background: white;
      padding: 60px 50px;
      border-radius: 0 15px 15px 0;
      .content_advantages__block__text, .content_advantages__block__content__header {
        color: rgb(4, 34, 103);
      }
      .content_advantages__block__content__header {
        font-size: 24px;
        font-weight: 600;
      }
      .content_advantages__block__text {
        font-size: 24px;
        padding-top: 40px;
      }
    }
    &:hover {
      transform:translateX(-75px);
      //margin-left: -75px;
      //margin-right: 75px;

      z-index: 55555;
      position: relative;
      .orange_image {
        img {
          filter: none;
        }
      }
      img {
        filter: hue-rotate(163deg) saturate(1) invert(13%) brightness(189%) contrast(188%);
      }
      span {
        color: #ff6600;
      }
      //.content_advantages__block{
      margin-top: -65px;
      margin-bottom: -65px;
      //}
    }
  }
}

.create_currency {
  background: linear-gradient(to bottom, #612053, #001e6c);
  padding: 15px;
  position: relative;
  .create_currency__header {
    z-index: 2;
    h2, p {
      font-family: "Montserrat";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
    }
    h2 {
      font-size: 48px;
      font-weight: bold;
    }
    p {
      font-size: 24px;
    }
  }
}
.form_registration{
  padding:75px 85px;
  border-radius: 15px;
  background: linear-gradient(to right, #251f61, #522058);
  height: 663px;
  label{
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 18px;
  }
  input{
    height: 55px;
    margin-bottom: 35px;
    font-size: 18px;
  }
  span{
    color: #ff0b42
  }
  button{
    margin-top:20px;
    width: 100%;
  }
}
.table_block{
  table{
    border-radius: 0 0 25px 25px;
    background-color: #7ecdff !important;
    border:none;
    position: relative;
    box-shadow: 0 0 25px #6d6c6c;
    z-index: 10;
    thead{
      th{
        color: #0066d0;
        border:none !important;
        //padding: 25px 0 !important;
        text-align: left;
        img{
          margin: auto;
          //text-align: right;
        }
      }
    }
    tr{
      min-height: 99px;
      height: 99px;
      font-size: 30px;
      font-family: "Roboto";
      border-top:1px solid #4a84ff;
      td{
        border:none !important;
        text-align: center;
        padding: 25px 0 !important;
      }
    }
    a{
      color: #009aff;
      text-decoration: none !important;
    }
    tr:nth-child(even){
      background: #66a8fd;
    }
    &::after{
      width:100%;
      height: 100%;
      position: absolute;
      content: '';
      top:0;
      background: linear-gradient(to top, #63a8fd, rgba(0, 0, 0, 0));
      border-radius: 0 0 25px 25px;
    }
  }
  p{
      font-size: 24px;
      font-family: "Montserrat";
      color: rgb(102, 102, 204);
      text-transform: uppercase;
      text-align: center;
    margin:20px auto;
  }
}
.block_faq{
  background: #fff;
  padding-top:265px;
  z-index: 5;
  margin-top: -165px;
  position: relative;
  .accordion{
    h5 button{
        font-size: 45px;
        font-family: "Montserrat";
        color: rgb(23, 28, 56);
        font-weight: bold;
      padding:35px 50px;
    }
    .card-body{
        font-size: 28px;
        font-family: "Montserrat";
        color: rgb(51, 51, 51);
      border-left:2px solid #ec2f2f;
      //padding:50px 0;
      margin-top:30px;
    }
  }
}
