@media screen and (max-width: 800px) {
  /************END HOME EDIT PAGE************/
  .home_edit__button{
    img{
      width:50px !important;
      margin-left:10px !important;
    }
  }
  .home_edit{
    .home_edit__header{
      padding:45px 35px 65px 35px;
      input{
        width: 276px;
        height: 43px;
        font-size: font_size(25);
        padding: 10px;
      }
      textarea{
        font-size: font_size(20);
        padding: 20px;
        width: 100%;
        height: 150px;
      }
    }
  }
  .setting_block_background{
    padding:40px 25px 70px 25px;
  }
  .setting_block_background__header{
    margin-bottom:55px;
  }
  .setting_block_background__content{
    button,img{
      width: 92.3px;
      height: 92.5px;
    }
    img{
      margin-left: -8px;
      margin-top: -3px;
    }
    button{
      margin-bottom:25px;
    }
  }
  /************END HOME EDIT PAGE************/
  /************CONSTR PAGE*********/
  .block_constructor{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .constructor__header{
    font-size: 27px;
  }
  .constructor{
    margin-top:115px;
  }
  .constructor__input__small{
    padding:0 30px 0 0 ;
    input{
      width:37px !important;
    }
    img{
      width: 9px !important;
      height: 13px !important;
      margin-top: 9px !important;
    }
  }
  .constructor__step{
    padding:0 15px;
    margin-top:45px;
    ul {
      a {
        padding: 8px 13px;
        font-size: 22.5px;
      }
    }
  }
  .constructor__input{
    input,select{
      width:171px;
      font-size: 18px;
    }
    span{
      font-size: 18px;
    }
    .d-flex{
      margin-top:45px !important;
    }
    a{
      img{
        width: 24px;
        height: 18px;
      }
    }
    label{
      font-size:12px;
      min-width: 80px;
    }
  }
  .constructor__info{
    padding:45px 15px;
    font-size: 13.5px;
    max-width: 415px;
    margin-top:40px !important;
  }
  .constructor__button{
    width: 117px;
    height: 39px;
    font-size: 19.1px;
    padding: 0px 15px;
    img{
      width: 9px;
      height: 13px;
      margin-top: 7px;
      float: right;
    }
  }
  .constructor__input__time{
    margin-top: 55px !important;
    input{
      width:84px !important;
    }
  }
  .constructor__text{
    font-size: 18px;
    margin-top:55px;
  }
  #step_2,#step_4{
    label{
      text-align: right;
    }
  }
  #step_4{
    label{
      width:115px;
      min-width: auto;
    }
    .constructor__input{
      //padding: 0 17%;
      .constructor__input__width{
        width: 50%;
      }
    }
  }
  #step_2{
    .constructor__input{
      padding: 0 15%;
      label{
        min-width: 111px;
      }
    }
  }
  #step_1{
    .constructor__input{
      padding: 0 30%;
    }
  }
  #step_3 {
    .constructor__block{
      //padding: 0 18%;
    }
    .constructor__input{
      input{
        width:160px;
      }
      label{
        min-width:140px;
      }
    }
  }
  /************END CONSTR PAGE*********/
  .display_none_80{
    display:none;
  }
  .padding_75 {
    padding: 0!important;
  }
  .container-fluid{
    min-width: 750px;
     padding-right: 0;
     padding-left: 0;
     margin-right: 0;
     margin-left: 0;
    .row:first-child{
      margin:0;
    }
  }
  .navbar{
    min-width: 750px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .container_block{
    //min-width: 562px;
  }
  .left_menu {
   //width: 204px;
    //min-width: 188px !important;
    ul li{
      font-size: 21px;
    }
  }
  .display_none_14{
    display: none !important;
  }

  .xl_screen{
    display: none;
  }
  .display_none_75{
    display:none !important;
  }
  .traffic_overview{
    padding: 40px 30px !important;
    border-radius: 0 !important;
  }
  .table_faucets{
    border-radius: 0 !important;
  }
  .t_header, .t_header span {
    font-size: 17.5px !important;
  }
  .list_traff {
    li{
      font-size: 15.5px !important;
    }
    :first-child{
      font-size: 17.5px !important;
    }
  }

  .knob{
    font-size: 22px !important;
    margin-top: 55px !important;
    margin-left: -115px !important;
  }
  .left_menu{
    //max-width: 202px;
    ul{
      img {
        padding:0 20px 0 0;
      }
      li {
        padding:45px  0 0 25px;
        font-size: 22px;
        &.line_menu{
          margin-top: 90px;
          margin-bottom: 35px;
        }
      }
    }
  }
  .rektangel-1 {
    height: 77px;
  }
  .title_pages {
    height: 96px;
    .Home {
      font-size: 30px;
    }
  }
  .block_info_faucet{
    padding:0 0 0 30px ;
    .block_faucet{
      padding: 30px 0 0 0;
      .Balance{
        padding: 0 30px 15px 30px;
      }
      .add_faucet{
        font-size: 40.5px;
        padding:60px 0;
      }
    }
  }
  .textarea_pages {
    width: 100%;
    padding:20px 35px;
    height: 103px !important;
    span {
      font-size: 20px !important;
    }
  }
  .block_pages_images{
    background-position: right bottom;
    padding: 25px 0 110px 75px !important;
    .col-lg-1{
      order:-1;
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
    .text_pages{
      width: 358px !important;
      height: 43px !important;
      .John-Silver{
        font-size: 25px !important;
      }
    }
  }
  .display_none_14{
    display:none !important;
  }
  .block_content:not(.padding_75) {
    padding: 45px 5% 45px 5%;
  }
  .block_content{
    .Balance {
      span{
        font-size: 25px;
      }
    }
    .table_faucets{
      padding: 30px 15px 15px 15px;
      .Balance{
        padding: 0 30px 15px 30px;
      }
      table{
        th{
          font-size: 18px;
        }
        td{
          font-size: 18px;
        }
      }
    }
    .block_info_balance{
      padding:0;
      .block_balance{
        padding: 30px 15px 35px 15px;
        width: 252px;
        .Balance{
          padding: 0 30px 15px 30px;
        }
        .block_balance_cent{
          padding:45px 0 25px 0;
          .col-md-8{
            padding-right: 0;
          }
          .col-md-3{
            padding-left:0;
          }
          .col-md-1{
            padding:0;
          }
          span{
            font-size: 36px;
          }
        }
        .satoshi{
          padding: 0 ;
          span{
            font-size: 30px;
          }
        }
      }
    }
  }

  //faq

  #myTabContent {
    padding: 35px 0;
    a, .card-body {
      font-size: 16px !important;
    }
    .collapse{
      padding: 15px 0 0 0;
      margin-left: -30px;
    }
  }
  .navigation_faq{
    li{
      a{
        padding:5px 25px;
        font-size: 20px;
      }
    }
  }
  .container_faq{
    padding:50px 80px !important;
  }


  /************SITELIST************/
  .tablel{
    td{
      font-size: 18.5px !important;
    }
    th{
      font-size: 18px;
    }
  }
  .table_nav__inp_search {
    max-width: 358px;
    width: 100%;
  }
  .table_nav__inp{
    height: 33px;
  }
  .sitelist_background{
    padding:25px;
  }
  .tablel__body{
    padding: 10px 30px;
  }
  .tablel__head{
    padding: 10px 30px;
  }
  .search_first{
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .table_nav__sort{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66666667%;
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
    padding: 30px 0 0;
  }
  .table_nav__payments{
    padding: 25px 0 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333333%;
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
    text-align: right;
  }
  .table_nav{
    max-width:603px;
    margin:auto;
    .right_bl{
      display: none;
    }
  }
  .pagination__item{
    padding: 0;
    a {
      width: 40px;
      height: 39px;
      font-size: 19px;
    }
  }
  .table_nav_span,.table_nav__select {
    font-size: 15.5px;
    padding: 0 5px 0 0;
  }
  .table_nav__search_block{
    padding:0;
  }
  .table_sitelist{
    .col-12{
      padding:0 !important;
    }
  }
  /************END SITELIST************/
  /************TERMS PAGE************/
  .terms_background{
    padding:45px 40px;
  }
  .terms__link{
    font-size: 20px;
  }
  .terms__text {
    p,ul{
      font-size: 16px;
    }
  }
  /************END TERMS PAGE************/

  /************CONTACT PAGE************/
  .contact__form{
    input{
      width: 75%;
    }
  }
  .contact__social{
    i{
      margin: 104px 0 104px 40px;
    }
  }
  /************END CONTACT PAGE************/

}


