@media screen and (max-width: 750px) {
  .block_content {
    //padding: 0;
  }
  .left_menu {
   width: 204px;
    ul li{
      font-size: 21px;
    }
  }
  .display_none_14{
    display: none;
  }

  .xl_screen{
    display: none;
  }
  .display_none_75{
    display:none;
  }
  .traffic_overview {
    padding: 40px 30px !important;

  }
  .t_header, .t_header span {
    font-size: 17.5px !important;
  }
  .list_traff {
    li{
      font-size: 15.5px !important;
    }
    :first-child{
      font-size: 17.5px !important;
    }
  }

  .knob{
    font-size: 22px !important;
    margin-top: 55px !important;
    margin-left: -115px !important;
  }
  .left_menu{
    max-width: 202px;
    ul{
      img {
        padding:0 20px 0 0;
      }
      li {
        padding:45px  0 0 25px;
        font-size: 22px;
        &.line_menu{
          margin-top: 90px;
          margin-bottom: 35px;
        }
      }
    }
  }
  .rektangel-1 {
    height: 77px;
  }
  .title_pages {
    height: 96px;
    .Home {
      font-size: 30px;
    }
  }
  .block_info_faucet{
    padding:0 0 0 30px ;
    .block_faucet{
      padding: 30px 0 0 0;
      .Balance{
        padding: 0 30px 15px 30px;
      }
      .add_faucet{
        font-size: 40.5px;
        padding:60px 0;
      }
    }
  }
  .textarea_pages {
    width: 100%;
    padding:20px 35px;
    height: 103px !important;
    span {
      font-size: 20px !important;
    }
  }
  .block_pages_images{
    background-position: right bottom;
    padding: 25px 0 110px 75px !important;
    .text_pages{
      width: 358px !important;
      height: 43px !important;
      .John-Silver{
        font-size: 25px !important;
      }
    }
  }
  .display_none_14{
    display:none;
  }
  .block_content{
    .Balance {
      span{
        font-size: 25px;
      }
    }
    .table_faucets{
      padding: 30px 15px 15px 15px;
      .Balance{
        padding: 0 30px 15px 30px;
      }
      table{
        th{
          font-size: 18px;
        }
        td{
          font-size: 18px;
        }
      }
    }
    .block_info_balance{
      padding:0;
      .block_balance{
        padding: 30px 15px 35px 15px;
        width: 354px;
        .Balance{
          padding: 0 30px 15px 30px;
        }
        .block_balance_cent{
          padding:45px 0 25px 0;
          .col-md-8{
            padding-right: 0;
          }
          .col-md-3{
            padding-left:0;
          }
          .col-md-1{
            padding:0;
          }
          span{
            font-size: 36px;
          }
        }
        .satoshi{
          padding: 0 ;
          span{
            font-size: 30px;
          }
        }
      }
    }
  }
}