@media all and (max-width: 750px) {
  .block_content {
    padding: 0;
  }
  .left_menu {
   width: 204px;
    ul li{
      font-size: 21px;
    }
  }
  .display_none_14{
    display: none;
  }

  .xl_screen{
    display: none;
  }
}