@import "full-screen";

@media screen and (min-device-width: 751px) and (max-device-width: 1024px) {
  .rektangel-1 {
    background-color: #0988ea;
    //padding: 15px 0 15px 0;
    height: 77px;
  }
  .top_logo {
    width: 46px;
    height: 47px;

  }
}

body {
  background-color: #eef3f5;
}

.rektangel-1 {
  padding: 0;
}

.top_wrapper {
  padding: 20px 0 20px 0;
}

.top_logo {
  opacity: 0.5;
  //background-color: #ffffff;
  img {
    width: 100%;
    overflow: auto;
  }
}

.REWARDATRON {
  display: inline-block;
  //margin: 15px 0 0 20px;
  width: 175px;
  //height: 19px;
  font-family: Geometric415BT-A;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.btn_registration {
  border-radius: 8.5px;
  border: solid 2px #ffffff;

  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.user_avatar {
  width: 46px;
  height: 46px;
  background-color: #000000;
}

.top_menu {
  list-style: none;
}

.traffic_overview {
  border-radius: 15px;
  background-color: #3399ff;
}

.t_header, .t_header span {

  font-family: SourceSansPro;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.list_traff {
  :first-child {
    color: #ffffff;
  }

  li {
    font-family: SourceSansPro;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;

    color: #a6aebf;
  }
}

.chart_pages_views{
  //border-radius: 10px;
  //background-color: #6b8fd8;
  //z-index: 1;
  //convas {
  //  z-index: 9999;
  //}
}

.traffic_header_text {
  padding: 20px 0 10px 30px;
  span {
    font-family: Roboto;
    font-size: 1.5em;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #ffffff;
  }

}