/*col-1
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
col-2
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
col-3
    flex: 0 0 25%;
    max-width: 25%;
col-4
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
col-5
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
col-6
    flex: 0 0 50%;
    max-width: 50%;
col-7
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
col-8
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
col-9
    flex: 0 0 75%;
    max-width: 75%;
col-10
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
col-11
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
col-12
    flex: 0 0 100%;
    max-width: 100%;
    */

@font-face {
  font-family: PeaceSans;
  //src: url("../fonts/PeaceSans.otf");
}

.min_width {
  min-width: $min-width;
}

body {
  font-family: $font-family;
}

@media screen and (min-device-width: 751px) and (max-device-width: 1024px) {
  .rektangel-1 {
    background-color: #0988ea;
    //padding: 15px 0 15px 0;
    height: 77px;
  }
  .top_logo {
    width: 46px;
    height: 47px;

  }
}

.xl_screen {
  display: none;
}

.home_background {
  background-color: #eef3f5;
}

.rektangel-1 {
  padding: 0;
}

.top_wrapper {
  padding: 20px 0 20px 0;
}

.top_logo {
  opacity: 0.5;
  //background-color: #ffffff;
  img {
    width: 100%;
    overflow: auto;
  }
}

.REWARDATRON {
  display: inline-block;
  //margin: 15px 0 0 20px;
  width: 175px;
  //height: 19px;
  font-family: Geometric415BT-A;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.btn_registration {
  border-radius: 8.5px;
  border: solid 2px #ffffff;

  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.user_avatar {
  width: 46px;
  height: 46px;
  background-color: #000000;
}

.top_menu {
  list-style: none;
}

.block_charts {
  width: 100%;
  .traffic_overview {
    padding: 50px 40px;
    border-radius: 15px;
    background-color: #3399ff;
  }
}

.grafic_block {
  padding: 0 60px;
}

.t_header, .t_header span {
  font-size: 21px;
  font-family: SourceSansPro;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.knob {
  font-family: SourceSansPro !important;
  font-size: 26.5px !important;
  color: #ffffff !important;
  margin-top: 65px !important;
}

.list_traff {
  :first-child {
    color: #ffffff;
    font-size: 21px;
  }

  li {
    font-family: SourceSansPro;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 18.5px;
    color: #a6aebf;
  }
}

.chart_pages_views {
  //border-radius: 10px;
  //background-color: #6b8fd8;
  //z-index: 1;
  //convas {
  //  z-index: 9999;
  //}
}

.traffic_header_text {
  padding-bottom: 45px;
  span {
    font-family: Roboto;
    //font-size: 30px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    text-align: left;
    color: #ffffff;
  }

}

/************SITELIST PAGE************/
.table_nav {
  //margin-top: 51px;

  .table_nav_div {
    //width: 1426px;
    //height: 104px;
    border-radius: 5px;
    background-color: #ffffff;
  }
}
.sitelist_background{
  background-image: linear-gradient(to top,  rgba(9, 136, 234, 0.5), #ffffff);
  padding:50px 100px;
}
.table_sitelist{
  background: white;
  border-radius: 15px;
  margin-top:50px;
}
.right_br {
  border-right: 2px solid #F3F3F3;
  height: 65px;
  display: inline;
  position: absolute;
  right: 16%;
  top: -18px;
}

.right_bl {
  border-left: 2px solid #F3F3F3;
  height: 65px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -10px;
}

.table_nav__inp {
  border-radius: 16px;
  background-color: #f0f2f7;
  border: solid 1px #cccccc;
  height: 39px;

}

.table_nav__search_block {
  padding-left: 30px;
}

.table_nav__inp_search {
  max-width: 303px;
  width:60%;
}

.table_nav__inp_range {
  color: black;
  font-weight: bold;
  padding-left: 17px;
  width: 70px;
}

.table_nav__select {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-align: right;
  color: #343e5c;
  border: none;
  background: none;
  padding: 7px;
  //margin-left: 40px;

  :before {
    content: "&#709" !important;
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 4px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
  }
}

.table_nav_span {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.8px;
  text-align: left;
  color: #a1a8bd;
  text-transform: uppercase;
  //margin-right: 26px;
  padding: 0 15px 0 0;
}

.dot {
  :before {
    content: ".";
  }
  height: 100%;
  font-family: MyriadPro;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.4px;
  text-align: left;
  color: #a1a8bd;
  padding-bottom: 5px;
}

.tablel {
  //margin-top: 67px;
  //padding:35px 90px;
  table{
    display: block;
    tr{
      display: flex;
    }
  }
  th{
    font-size: 24px ;
    color: #cccccc;
    font-weight: 500;
    margin:auto;
    width:auto;
    //display: block;
  }
  td{
    font-size: 30px ;
    display: flex;
    margin:auto;
    width:auto;
    //min-width:175px;
    //&:first-child{
    //  min-width:auto
    //}
  }
}
.header_table{
  width: 100%;
  background: #eee;
  height: 15px;
  position: absolute;
}

.tablel__body {
  height: 30px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.6px;
  text-align: left;
  color: #999999;
  padding:10px 100px;
  display: block;
  height: auto;
}

.tablel__head {
  border-radius: 15px !important;
  background-color: #eeeeee;
  display: block;
  padding:10px 100px;
  tr {
    font-family: Roboto;
    font-size: 24px;
    color: #cccccc;
    width:100%;
    display: flex;
  }

}

.pagination {
  margin-top: 60px;
  margin-bottom: 112px;
}

.pagination__item {
  li {
    list-style: none;
  }
  a{
    width: 51px;
    height: 48px;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.12), inset 0px 1px 0 1px #ffffff;
    border-radius: 5.8px;
    background: linear-gradient(#ffffff, #e9e9e9), linear-gradient(to top, #000000, #ffffff);
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to bottom, #cacaca, #aeaeae);
    //border-image-slice: 1;
    text-align: center;
    font-family: Roboto;
    margin: 3px;
    color: #717171;
    text-shadow: 0px 1px 0 #ffffff;
    font-size: 23px;
    font-weight: 500;
    &.active{
      border-radius: 3.9px;
      background: #0d76c6;
      color:white;
      box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.12), inset 0px 1px 0 1px rgba(255, 255, 255, 0);
    }
    &:hover:not(.pagination__dot){
      background: white;
      text-decoration: none;
    }
  }
}

.pagination__dot{
  a{
    background: none;
    box-shadow: none;
  }
}
.table_nav__sort{
  width: 311px;
}

/************END SITELIST PAGE************/

#settings {
  position: absolute;
  .modal-dialog {
    //max-width: none;
    margin: auto 0 auto auto;
  }
}


/************FAQ PAGE************/

.container_faq {
  padding: 80px 100px !important;
}

.navigation_faq {
  li {
    padding: 0 10px 0 0;
    a {
      background-color: #fff;
      border-color: #d4dee5 !important;
      padding: 10px 30px;
      font-size: 23.5px;
      font-weight: 500 !important;
      text-align: left;
      color: #549ae0;
      &.active {
        color: white !important;
        background-color: #549ae0 !important;
        box-shadow: 0px 1px 0 0 rgba(255, 255, 255, 0.36), inset 0px 1px 3px 0 rgba(0, 0, 0, 0.36);
      }
    }
  }
}

#myTabContent {
  padding: 90px 0;
  a, .card-body {
    font-family: Roboto;
    font-size: 24px;
    color: #666666;
    padding: 0;
  }
  a {
    text-decoration: underline;
    font-weight: bold;
    word-wrap: break-word !important;
    -webkit-appearance: inherit;
    background: white;
    border: none;
    cursor: pointer;
    &.collapsed {
      text-decoration: none;
    }
  }
  .card-body {
    border-left: 2px solid #990000;
    padding-left: 30px;
  }
  .collapse {
    padding: 35px 10px 0 10px;
  }
  .card {
    padding: 40px 0;
  }
}
/************END FAQ PAGE************/
/************TERMS PAGE************/
.terms_background{
  padding:50px 140px;
}
.terms__text{
  p,ul{
    font-family: Roboto;
    font-size: 24px;
    margin:30px 0 0;
    color: #666666;
  }
  ul{
    list-style: none;
    padding:0;
    margin:0;
  }
  .terms__text__bold{
    font-weight: bold;
  }
  .terms__text__italics{
    font-style: italic;
  }
  .terms__text__line{
    border-left:2px solid #990000;
    padding-left:30px;
    margin-left:-30px;
  }
  .terms__text__margin{
    margin-top:60px;
  }
}
.terms__link{
  color: #0988ea;
  font-size: 24px;
  font-weight: 500;
  img{
    padding:0 15px 0 0;
  }
}
/************END TERMS PAGE************/
/************SETTING PAGE*********/
.setting_block {
  padding-top: 100px;
  //margin: 20px 0 0 15px;
  @media screen and (min-width: 1700px){
    margin: 20px 0 0 93px !important;
  }
  position: relative;
  max-width: 1246px;
}

.edit_btn {
  display: inline-block;
  position: absolute;
  right: 1px;
  top: 1px;
  button {
    width: 283px;
    height: 64px;
    border-radius: 10px;
    background-color: #3399ff;
  }

  span {
    margin-right: 20px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }

  .edit_btn__img {
    //margin-left: 10px;
    float: right;
    margin: 4px 10px 0 0;
    //width: 35px;
    //height: 35px;
    object-fit: contain;
  }
}

.profile {
  max-width: 684px;
  border: solid 1px #eeeeee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .profile__header {
    text-align: center;
    width: 100%;
    height: 58px;
    background-color: #eeeeee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    span {
      width: 161px;
      height: 14px;
      opacity: 0.33;
      font-family: Roboto;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 3;
      letter-spacing: 18px;
      text-align: center;
      color: rgba(102, 102, 102, 0.33);
    }
  }
  .profile__name {
    text-align: center;
    height: 108px;

    .profile__name_s1 {
      margin-left: 30px;
      //opacity: 0.8;
      font-family: Roboto;
      font-size: 23.5px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 4.02;
      letter-spacing: normal;
      text-align: left;
      color: rgba(41, 48, 55, 0.8);
    }
    .profile__name_s2 {
      display: inline-block;
      margin: 0 auto;
      //margin-left: 76px;
      font-family: Roboto;
      font-size: 36.5px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 0.89;
      letter-spacing: normal;
      text-align: left;
      color: #313b44;

      input{
        max-width: 300px;
      }
    }
  }

  .profile__field {
    padding-left: 30px;
    font-family: Roboto;
    font-size: 23.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 4.02;
    letter-spacing: normal;
    text-align: left;
    color: rgba(41, 48, 55, 0.8);
  }

  .profile__value {
    padding-right: 40px;
    padding-top: 10px;
    font-family: Roboto;
    font-size: 20px;
    line-height: 4.02;
    text-align: left;
    color: rgba(41, 48, 55, 0.8);
  }

  .profile__ava {
    height: 300px;
    img {
      width: 264px;
      height: 263px;
      border-radius: 132px;
    }
  }
  .profile__both {
    :first-child {

    }
    :last-child {

    }
  }
}

.mess_block {
  margin-left: auto;
  margin-right: auto;
  max-width: 608px;
  height: 325px;
  background-color: #eeeeee;
  &.mess_block_b1 {
    margin-top: 160px;
  }

  &.mess_block_b2 {
    margin-top: 44px;
  }
  &.mess_block_b3 {
    margin-top: 60px;
    height: 193px;
  }
  ul {
    padding: 41px 109px 0 43px;
    list-style: none;
    font-family: Roboto;
    font-size: 24px;
    text-align: left;
    color: #999999;

    li span {
      color: black !important;
      margin-right: 10px;
    }
  }
}

.purse {
  margin-top: 141px;
}

.delete_profile {
  margin: 40px 0 0 30px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 2.89;
  text-align: left;
  color: #6699ff;
}

.form_btn {
  width: 193px;
  height: 60px;
  border-radius: 10px;
  margin: 50px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  line-height: 0.5;
  text-align: center;
  color: #ffffff;
  &.form_btn__save {
    background-color: #339966;
  }
  &.form_btn__cancel {
    background-color: #bfbfbf;
  }
}

.setting__input {
  height: 50px;
  border: none;
  color: rgba(41, 48, 55, 0.8);
}
.inp_date{
  width: 200px;
}
/************END SETTING PAGE*********/
.border_b {
  width: 100%;
  opacity: 0.1;
  border: 1px solid #000000;
}


/************CONSTR PAGE*********/
.block_constructor{
  background: #eeeeee;
  padding:25px;
}
.close_constructor__link{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  color: #3f9bf8;
  //padding:25px;
  //margin-top:25px;
  img{
    padding:0 10px
  }
}
.constructor{
  margin-top:165px;
  //padding: 0 105px;
}
.constructor__step{
  border-radius: 10px;
  background-color: #ffffff;
  padding:0 20px;
  margin-top:65px;
  width:auto;
  display: inline-block;
  ul{
    list-style: none;
    display: inline-flex;
    width:auto;
    a{
      font-size: 30px;
      color: #999999 !important;
      &.active,&:hover{
        font-weight: 900;
        color: #009999 !important;
      }
    }
  }
}
.constructor__header{
  font-family: Montserrat;
  font-size: 36px;
  color: #009999;
}
.constructor__input{
  //padding:0  0 0 10%;
  .d-flex{
    margin-top:60px !important;
  }
  a{
    padding:0 5px;
    img{
      width: 33px;
      height: 24px;
      margin-top: 10px;
    }
  }
  .error_img_mess{
    background-image: url("/img/1181.png");
    width: 19px;
    height: 20px;
    margin-top: 13px;
  }
  .success_img_mess{
    background-image: url("/img/1180.png");
    width: 24px;
    height: 15px;
    margin-top: 13px;
  }
  .constructor__input__width{
    width:329px;
  }
  .constructor__input__small{
    padding:0 50px 0 0 ;
    input{
      width:50px;
    }
    img{
      width: 12px;
      height: 18px;
      margin-top: 12px;
    }
  }
  input,select{
    background: none;
    border:none;
    border-bottom:1px solid #139ea9;
    font-family: Montserrat;
    font-size: 24px;
    text-align: center;
    outline:none;
    color: #009999;
    text-align-last: center;
    width:227px;
  }
  label{
    color: #999999;
    font-size: 16px;
    font-weight: bold;
    //width: 100%;
    min-width: 150px;
    text-align: left;
    padding-right: 25px;
    //flex: 0 0 25%;
    //max-width: 25%;
    margin: 0;
    padding-top: 5px;
  }
  span{
    font-size: 24px;
    color: #333333;
  }
}
.constructor__button{
  border-radius: 25.5px;
  background-color: #009999;
  color:white;
  width: 155px;
  height: 51px;
  font-family: Montserrat;
  font-size: 24px;
  border:none;
  margin-top:50px;
  cursor:pointer;
  img{
    vertical-align: unset !important;
  }
}
.container_constructor{
  height: 100%;
}
.constructor__info{
  padding:60px 30px;
  font-size: 18px;
  font-family: Montserrat;
  color: #666666;
  border: solid 1px #b5b5b5;
  max-width: 553px;
  margin-top:55px !important;
}
.constructor__input__content{
  input{
    background: #d3d3d3;
  }
}
.constructor__input__additional{
  input{
    background: #3399ff;
  }
}
.constructor__input__main{
  input{
    background: #999999;
  }
}
.constructor__width{
  width:100%;
}
.constructor__text{
  color: #999999;
  font-size: 24px;
  font-family: Montserrat;
  margin-top:75px;
}
.constructor__input__time{
  margin-top:70px !important;
  input{
    width:111px;
  }
}
#step_2,#step_4{
  label{
    text-align: right;
  }
}
#step_4{
  label{
    width:115px;
    min-width: auto;
  }
}
#step_1{
  .constructor__input{
    padding: 0 25%;
  }
} #step_2{
  .constructor__input{
    padding: 0 15%;
  }
  }
 #step_4{
   .constructor__input{
     padding: 0 10%;
     .constructor__input__width{
       width: 70%;
     }
   }
 }
#step_3{
.constructor__block{
  //padding: 0 20%;
}
}

.block_faucet{
  background: linear-gradient(to top, #aa9ebe, #ffcc9a);
  padding:150px 0;
  .horizontal_block{
    width: 298px;
    height: 159px;
    text-align: center;
    margin:auto;
  }
  .vertical_block{
    width: 169px;
    height: 267px;
    margin-bottom:40px;
  }
}
.container_inform,.small_block{
  background-color: #99cc99;
  box-shadow: 0px 14px 31px 1px rgba(0, 1, 0, 0.1);
}
.left_block{
  float:left;
}
.right_block{
  float:right;
}
.left_block,.right_block{
  margin-top:-61px;
}

.center_block{
  position: relative;
  background-color: #eeeeee;
  box-shadow: 0px 14px 31px 1px rgba(0, 1, 0, 0.1);
  width: 486px;
  max-height: 671px;
  margin: 55px auto 45px auto;
  padding: 100px 148px;
  text-align: center;
  height: 100%;
  vertical-align: center;
  .center_block__header{
    font-size: 30px;
    font-family: PeaceSans;
    color: #333333;
    margin:auto;
  }
  .small_block{
    width: 169px;
    height: 98px;
    //margin:auto auto 0 auto;
    margin:auto;
    margin-bottom:0;
    bottom:100px;
    position: absolute;

  }
}
/************END CONSTR PAGE*********/
@import "full-screen";
@import "hd-screen";
@import "sm-screen";

